@switch (view()) {
  @case ('home') {
    @if (canInstall()) {
      <mat-toolbar color="primary">
        <span class="spacer"></span>
        <button mat-icon-button (click)="install()" aria-label="Installer l'application">
          <mat-icon>install_mobile</mat-icon>
        </button>
      </mat-toolbar>
    }
    <app-home (takePhoto)="openCamera()" />
  }
  @case ('camera') {
    <app-camera (captured)="onCaptured($event)" (closed)="onCameraClosed()" />
  }
  @case ('detail') {
    @if (currentBlob(); as blob) {
      <app-photo-detail [blob]="blob" (back)="backToHome()" />
    }
  }
}
