.email-form {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 4px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-dialog-actions button {
  min-height: 40px;
}
